USER_SERVICE_DB=
USER_SERVICE_USERNAME=
USER_SERVICE_DB_PASS=

PATIENT_SERVICE_DB=
PATIENT_SERVICE_USERNAME=
PATIENT_SERVICE_DB_PASS=

CB_SERVER_NAME=
CB_ADMIN_NAME=
CB_ADMIN_PASSWORD=
CB_ANONYMOUS_ACCESS=
CB_HOME=

EUREKA_SERVICE_PORT=
USER_SERVICE_PORT=
GATEWAY_SERVICE_PORT=
